*{
    margin: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;;
    border: border-box;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color:  #FAFAFA;
    /* color: white; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.nav-logo{
    /* height: 50px;
    width: 150px; */
    text-align: center;
    font-family: 'Playfair Display', Georgia, serif;;
}
/* .logo{
    
 background-image: url();
    background-size: contain;
    height: 60px;
    width: 150px;
} */

.nav-signin {
    margin-left: 400px;
    color: #D1D5DB;
    text-decoration: none;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: #c8d9f08f;
    height: 43px;
    width: 100px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.getstarted {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: #C8D9F0;
    height: 45px;
    width: 150px;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.login:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);;
}

.getstarted:hover {
    box-shadow: 0 10px 15px 1px rgba(0, 0, 0, 0.1);;
}
.border a {
    color: #374151;
    text-decoration: none;
    font-size: large;
}
.border a:hover{
    color: #5B8AC4;
}

/* box2 */
/* .add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-second{
    color: #ffffff;
    font-size: 1rem;
    margin-left: 3px;
}
.addicon{
    display: flex;
} */
/* box3 */
/* .nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border: none;
} */
/* .search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #0f1111;
}
.nav-search:hover{
    border: 2px solid orange;
} */
/* box4 */
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/* box6 */
/* .nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
} */
/* panel */
/* .panel{
    background-color: #222f3d;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
} */
/* herosection */
.hero-section{
    background-color: #C8D9F0;;
    height: 750px;
    display: flex;
    justify-content: center;
}
 .herocontent{
    margin-top: 130px;
    text-align: center;
    max-width: 800px;
 }


.hero-h1 {
    font-family: 'Playfair Display', Georgia, serif;;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
    color:  #111827;
    margin-bottom: 50px;
}


.hero-h2 {
    background: linear-gradient(135deg, #5B8AC4 0%, #9B82D3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: 'Playfair Display', Georgia, serif;;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
}

.hero-subtitle1 {
    font-size: 1.25rem;
    color:  #4B5563;
    line-height: 1.8;
    margin-bottom: 50px;
}

.hero-subtitle2 {
    font-size: large;
    font-weight: 500;
    color:  #4B5563;
    line-height: 1.8;
    margin-bottom: 100px;
    margin-top: 50px;
}

.values {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.corevalues {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    color:  #1F2937;
    margin-top: 50px;
}

.value {
    text-align: center;
    width: 200px;

}
.value h2 {
    font-size: 1.25rem;
    font-weight: 600;
    color:  #4B5563;
    line-height: 2.0;
}


.hero-login {
    display: flex;
    justify-content: space-evenly;
    
}

.begin {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: #c8d9f08f;
    height: 60px;
    width: 200px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
 .begin a{
    color: black;
    text-decoration: none;
    font-size: large;
}

.begin:hover {
    box-shadow: 0 10px 15px 2px rgba(0, 0, 0, 0.3);
}



.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
}
/* shop-section */
.feature-section{
    background-color:  #FAFAFA;
    padding-bottom: 50px;
}

.featuresintro {
    text-align: center;
    padding-top: 100px;
}

.features {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.f-title {
    font-family: 'Playfair Display', Georgia, serif;;
    font-size: 2.5rem;
    font-weight: 700;
    color: #111827;;
    margin-bottom: 20px;
}

.f-subtitle {
    font-size: 1.25rem;
    color:  #4B5563;;
    line-height: 1.8;
}

.feature-icon {
    width: 64px;
    height: 64px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    color: #374151;
    margin-top: 15px;
    margin-left: 25px;
}

.blue-bg { background: #C8D9F0; }
.lavender-bg { background: #E5DFF6; }
.mint-bg { background: #D4F1E8;}
.peach-bg { background:  #FFE8DC; }
.rose-bg { background: #FFE1E8;}
.purple-bg { background: #E8DCF7; }

.feature-title {
    font-size: 1.375rem;
    font-weight: 600;
    color: #111827;
    margin-bottom: 1rem;
    margin-left: 25px;
}

.feature-description {
    font-size: 1rem;
    color: #4B5563;
    line-height: 1.7;
    margin-left: 25px;
}

.box{
    /* text-align: center; */
    height: 340px;
    width: 400px;
    border: 1.5px solid rgb(138, 136, 136);
    background-color: #FAFAFA;
    padding: 20px 15px 15px 15px;
    margin-top: 25px;
    border-radius: 50px;
    
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 20px 15px 2px rgba(0, 0, 0, 0.3);;
}

.about {
    
    background: #f1f1f1;
    height: 650px;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
}

.about-text .section-title {
    text-align: left;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.about-description {
    font-size: 1.25rem;
    color:#4B5563;
    line-height: 1.8;
    margin-bottom: 1.5rem;
}

.about-features {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.about-feature {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    color: #374151;
    font-weight: 500;
}

.about-feature svg {
    color: #66C7A8;
    flex-shrink: 0;
}

.about span {
    font-size: medium;
}

.about-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-placeholder {
    width: 400px;
    height: 400px;
    background: linear-gradient(135deg, #D4F1E8 0%, #C8D9F0 100%);;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#6B7280;;
}



/* .box-image1{
    background-image: url(box1.jpeg);
    height: 300px;
    background-size: cover;
    margin-bottom: 1rem;
    margin-top: 1rem;
} */



/* .box-image2{
    background-image: url(box2.jpg);
    height: 300px;
    background-size: cover;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.box-image3{
    background-image: url(box3.webp);
    height: 300px;
    background-size: contain;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.box-image4{
    background-image: url(box4.jpg);
    height: 300px;
    background-size: cover;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.box-image5{
    background-image: url(box5.jpg);
    height: 300px;
    background-size: cover;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.box-image6{
    background-image: url(box6.webp);
    height: 300px;
    background-size: cover;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.box-image7{
    background-image: url(box7.jpg);
    height: 300px;
    background-size: cover;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.box-image8{
    background-image: url(box8.jpg);
    height: 300px;
    background-size: cover;
    margin-bottom: 1rem;
    margin-top: 1rem;
} */
/* footer-panel1 */
/* footer{
    margin-top: 15px;
}
.footer-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
} */
/* footer-panel2 */
.footer-panel2{
    padding-top: 25px;
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    padding-left: 100px;
    padding-right: 100px;
    
}
ul h2{
    margin-top: 40px; 
    font-weight: 600; 
    margin-bottom: 15px; 
    font-family: 'Playfair Display', Georgia, serif;
}
ul p {
    width: 200px;
    
    color: #dddddd;
}
ul h3{
    margin-top: 40px; 
    font-weight: 700; 
    margin-bottom: 20px; 
    
}
ul a{
    display: block;
    margin-top: 10px;
    font-size: 1rem;
    color: #dddddd;
}
ul a:hover {
    color: white;
    cursor: pointer;
}

/* .footer-panel3 */
.footer-panel3{
    background-color: #222f3d;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;  
    align-items: center;
    justify-content: center;
}
.logo{
    background-image: url(amazon-logo.webp);
    background-size: cover;
    height: 50px;
    width: 100px;
}
/* .footer-panel4 */
.footer-panel4{
    margin-top: 2px;
    background-color: #0f1111;
    color: white;
    height: 40px;
    text-align: center;
    font-size: 0.8rem;
    padding-top: 4px;
}

.pages{
   padding-top: 25px;
}
.copyright{
    padding-top: 5px;
}
